
__pycache__/
*.py[cod]
*.class

.ipynb_checkpoints/

.DS_Store
Thumbs.db

venv/
env/
.venv/

[200~data/raw/*.conllu

__pycache__/
*.py[cod]
*.class

.ipynb_checkpoints/

.DS_Store
Thumbs.db

venv/
env/
.venv/

data/raw/*.conllu
